<template>
	<div class="home" :data-layout="this.activeLayout">
		<header>
			<div class="top-buttons">
				<button @click="runCode">Run</button>
			</div>
			<div class="pickers flex justify-evenly">
				<PickerButtons
					:configs="editorPickerOptions"
					initial-selected="js"
					@change="activeEditor = $event"
				></PickerButtons>
				<PickerButtons
					:configs="layoutPickerOptions"
					initial-selected="both"
					@change="activeLayout = $event"
				></PickerButtons>
				<PickerButtons
					:configs="outputPickerOptions"
					initial-selected="console"
					@change="activeOutput = $event"
				></PickerButtons>
			</div>
		</header>
		<div id="editor-container">
			<Editor
				v-if="activeEditor === 'js'"
				id="js-editor"
				ref="js"
				mode="javascript"
				class="abs-fill"
				key="js"
				:initial-code="jsCode"
				@change="jsCode = $event"
			/>
			<Editor
				v-else-if="activeEditor === 'html'"
				id="html-editor"
				ref="html"
				mode="html"
				class="abs-fill"
				key="html"
				:initial-code="htmlCode"
				@change="htmlCode = $event"
			/>
			<Editor
				v-else-if="activeEditor === 'css'"
				id="css-editor"
				ref="css"
				mode="css"
				class="abs-fill"
				key="css"
				:initial-code="cssCode"
				@change="cssCode = $event"
			/>
		</div>
		<div id="output-container">
			<div
				v-show="activeOutput === 'console'"
				id="console-output"
				ref="console-output"
				class="abs-fill"
			>
				<pre
					class="log-entry"
					:class="['method-' + log.method]"
					v-for="(log, i) of logOfConsole"
					:key="i"
				><span
				class="method">{{ log.error ? log.error.name : log.method }}</span><span
				class="logs" >{{ log.error ? log.error.message : log.arguments.join(' ') }}</span><span
				class="time" >{{ log.time }}</span
				></pre>
			</div>
			<iframe
				v-show="activeOutput === 'preview'"
				id="preview-output"
				ref="preview-output"
				frameborder="0"
				class="abs-fill"
			></iframe>
		</div>
	</div>
</template>

<script>
// @ is an alias to /src
import Editor from '@/components/Editor.vue';
import PickerButtons from '@/components/PickerButtons.vue';

export default {
	name: 'home',
	data() {
		return {
			logOfConsole: [],
			jsCode: "console.log('hello, world');",
			htmlCode: '<h1>hello, world</h1>',
			cssCode: 'h1 {\n\tcolor: blue;\n}',
			activeEditor: 'js',
			activeOutput: 'console',
			activeLayout: 'both',
			editorPickerOptions: [
				{ key: 'js', text: 'JavaScript' },
				{ key: 'html', text: 'HTML' },
				{ key: 'css', text: 'CSS' },
			],
			layoutPickerOptions: [
				{ key: 'editor', text: 'Editor' },
				{ key: 'both', text: 'Both' },
				{ key: 'output', text: 'Output' },
			],
			outputPickerOptions: [
				{ key: 'console', text: 'Console' },
				{ key: 'preview', text: 'Preview' },
			],
		};
	},
	components: {
		Editor,
		PickerButtons,
	},
	mounted() {
		const newConsole = (oldCons => {
			return Object.keys(oldCons).reduce((newCons, method) => {
				newCons[method] = (...args) => {
					this.logOfConsole.push({
						method,
						time: new Date().toLocaleTimeString(),
						arguments: args,
					});
					oldCons[method].apply(oldCons, args);
				};
				return newCons;
			}, {});
		})(this.$refs['preview-output'].contentWindow.console);
		this.$refs['preview-output'].contentWindow.console = newConsole;
		this.$refs['preview-output'].contentWindow.onerror = (
			msg,
			url,
			lineNum,
			columnNum,
			error
		) => {
			this.logOfConsole.push({
				method: 'error',
				time: new Date().toLocaleTimeString(),
				error,
			});
			return false;
		};

		this.boundKeydownFn = this.handleKeydown.bind(this);
		document.addEventListener('keydown', this.boundKeydownFn);
	},
	beforeDestroy() {
		document.removeEventListener('keydown', this.boundKeydownFn);
	},
	methods: {
		runCode() {
			this.logOfConsole = [];
			const doc = this.$refs['preview-output'].contentWindow.document;
			const head = doc.querySelector('head');
			const body = doc.querySelector('body');

			while (head.lastElementChild) {
				head.removeChild(head.lastElementChild);
			}
			while (body.lastElementChild) {
				body.removeChild(body.lastElementChild);
			}

			head.appendChild(this.createEl('style', this.cssCode));
			body.appendChild(this.createEl('div', this.htmlCode));
			head.appendChild(this.createEl('script', this.jsCode));
		},
		createEl(type, innerhtml) {
			const el = document.createElement(type);
			el.innerHTML = innerhtml;
			return el;
		},
		handleKeydown(event) {
			// CTRL + S combo
			if ((event.ctrlKey || event.metaKey) && event.key === 's') {
				event.preventDefault();
				this.runCode();
			}
		},
	},
};
</script>

<style>
.home {
	height: 100%;
	padding: 8px;
	display: grid;
	grid-template-areas: 'header header' 'editor output';
	grid-template-rows: auto minmax(0, 1fr);
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-gap: 4px;

	&[data-layout='editor'] {
		grid-template-areas: 'header header' 'editor editor';
		#output-container {
			display: none;
		}
	}

	&[data-layout='output'] {
		grid-template-areas: 'header header' 'output output';
		#editor-container {
			display: none;
		}
	}

	header {
		grid-area: header;

		button {
			cursor: pointer;
			font-size: 1.2rem;
			border: none;
			border-radius: 4px;
			padding: 4px 16px;
			background-color: lightgray;
		}
	}

	#editor-container {
		grid-area: editor;
	}

	#output-container {
		grid-area: output;
	}

	#console-output {
		.log-entry {
			border-radius: 2px;
			overflow: hidden;
			display: grid;
			grid-template-columns: auto minmax(0, 1fr) auto;
			align-items: center;
			grid-gap: 4px;
			margin: 4px;

			background-color: lighten(#d3d3d3, 50%);
			--log-bg: lightgray;
			--log-color: #2c3e50;

			&.method-warn {
				background-color: lighten(#d3ce38, 50%);
				--log-bg: #d3ce38;
				--log-color: #504f2c;
			}

			&.method-error {
				background-color: lighten(#d34e38, 25%);
				--log-bg: #d34e38;
				--log-color: white;
			}
			color: var(--log-color);
		}

		.method {
			background: var(--log-bg);
			padding: 4px 8px;
		}
		.logs {
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.time {
			padding: 4px 8px;
		}
	}
}
</style>
