<template>
	<div class="editor-container" :ref="`codemirror-${mode}`"></div>
</template>

<script>
import * as CodeMirror from 'codemirror';

export default {
	name: 'Editor',
	props: {
		mode: String,
		initialCode: String,
	},
	mounted() {
		this._editor = new CodeMirror(this.$refs[`codemirror-${this.mode}`], {
			lineNumbers: true,
			tabSize: 4,
			value: this.initialCode,
			mode: this.mode,
		});

		this._editor.on('changes', this.updateValue);
	},
	beforeDestroy() {
		this._editor.off('changes', this.updateValue);
	},
	methods: {
		updateValue() {
			this.$emit('change', this._editor.getValue());
		},
	},
};
</script>

<style>
@import '../../node_modules/codemirror/lib/codemirror.css';

.editor-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border: 1px solid black;
	border-radius: 3px;

	> .CodeMirror {
		height: 100%;
		background: none;
	}
}
</style>
