<template>
	<div class="picker">
		<button
			v-for="config in configs"
			:key="config.key"
			@click="onClick(config.key)"
			:class="{ selected: selected == config.key }"
			class="m-0"
		>
			{{ config.text }}
		</button>
	</div>
</template>

<script>
export default {
	props: ['configs', 'initialSelected'],
	name: 'PickerButtons',
	data() {
		return {
			selected: this.initialSelected,
		};
	},
	methods: {
		onClick(key) {
			this.selected = key;
			this.$emit('change', key);
		},
	},
};
</script>

<style scoped>
.picker > button {
	background: none;
	border: 1px solid #d3d3d3;
	border-radius: 0;

	&.selected {
		background: lightgray;
	}

	&:not(:first-child) {
		border-left: none;
	}

	&:first-child {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	&:last-child {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}
</style>
