<template>
	<div id="app">
		<header>
			<h1>Web Dev</h1>
			<span>v{{ $store.state.appVersion }}</span>
		</header>
		<main>
			<router-view />
		</main>
	</div>
</template>

<style>
#app {
	height: 100%;
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);

	> header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px;
		background-color: #a7d2fd;
	}
}

/* Resets */
* {
	position: relative;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

/* Remove default padding */
ul[class],
ul[id],
ol[class],
ol[id] {
	padding: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ul[id],
ol[class],
ol[id] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

a {
	color: inherit;
}

/* Utilities */

.m-0 {
	margin: 0;
}

.br-3 {
	border-radius: 3px;
}

.border-style {
	border: 1px solid #2c3e50;
}

.block {
	display: block;
}

.flex {
	display: flex;
}

.justify-evenly {
	justify-content: space-evenly;
}

.abs-fill {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
</style>
